@media(max-width:991px){

}
@media(max-width:769px){
.home-text h1{
    font-size: 50px;
    line-height: 65px;
}
.header .nav{
    width: 26%;
}
.about-section .row{
    display: block;
    padding: 0 80px;
}
.menu-item,
.about-text,
.about-img{
    width: 100%;
    /* height: 100%; */
}
.about-img{
    margin-top: 40px;
}
.footer .row,
.team-section .row,
.menu-section .row{
    padding: 0 80px;
}
.menu-item{
    padding: 10px;
}
.testimonials-section .row{
    flex-direction: column;
}
.testimonials-section{
    /* padding: 0 10px; */
    flex-direction: column;
}
.testimonials-section .row{
    padding:0 80px ;
}
.testi-item{
    width: 100%;
}
.section-title h2{
    /* margin-top: 40px; */
    padding: 40px;
}
}


@media(max-width:360px){
    .header .row{
        margin-left: 0%;
        padding: 0px;

    }
    .header .logo{
        margin: 0;
    }
    .header .nav-toggler{
        margin-right: -4%;
    }
    .header .nav-toggler.active{
        right: 10px;
    }
    .header .nav{
        width: 46%;
    }
    .home-text h1{
        font-size: 40px;
        line-height: 45px;
    }
    .about-section{
    padding: 30px 0;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .section-title h2{
        font-size: 30px;
        /* margin-top: 30px; */
        padding: 10px;
        text-transform: capitalize;
    }
    .section-title h2::before{
        font-size: 19px;
    }
    .menu-section .row,
    .about-section .row,
    .testimonials-section .row{
        /* display: block; */
        padding: 0 10px;
    }
    
    .about-text h3{
        font-size: 25px;
    }
    .about-text p{
        margin: 0 0 12px ;
    }
    .testi-item{
        margin: 5px 0;
    }
    .team-section .row{
        flex-direction: column;
        padding: 0;
    }
    .team-item{
        width: 100%;
        margin: 25px 0;
    }
    .footer .row{
        padding: 0;
        flex-direction: column;
    }
    .footer-item{
        width: 100%;
    }
    .footer-item h3{
        margin: 15px 0;
    }
}